html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: transparent;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

a.pick-theme:link,
a.pick-theme:visited {
    color: #fff;
    font-size: .9rem;
    text-decoration: none;
}

a.pick-theme:hover,
a.pick-theme:focus {
    color: #333;
    text-decoration: none;
}
