html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #f6f6f6;
    color: #4a5160;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

main.reward-sidebar {
    padding: 20px 40px;
    text-align: left;
}

.reward-sidebar h1 {
    padding-bottom: 0;
}

.reward-sidebar label {
    display: block;
    margin-bottom: 5px;
}

.reward-sidebar input[type="text"] {
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    min-width: 240px;
    height: 35px;
    font-size: 1rem;
}

.reward-sidebar input[type="text"]:focus {
    border-color: #37A3CC;
}

.reward-sidebar input[type="submit"] {
    margin-top: 10px;
}
